body {
  background-color: rgb(227, 227, 227) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-item img {
  object-fit: contain !important;
  filter: brightness(40%);

}

#carousel{
  max-height: 500px;
}




/* my order */
/* MyOrder.css */
.order-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
}

.order-date {
  font-size: 1.25rem;
  font-weight: bold;
}

.order-item {
  background-color: #f9f9f9;
}

.order-item-img {
  width: 100px;
  height: 80px;
  object-fit: cover;
}

.order-item-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.order-total {
  font-size: 1.25rem;
  font-weight: bold;
}
